div#sf_admin_container.sf_admin_list div#sf_admin_content,
div#sf_admin_container.sf_admin_list div#sf_admin_header
{
  width: 600px !important;
  margin-left: auto;
  margin-right: auto;
}

fieldset#sf_fieldset_users .show-row .content
{
  padding-left: 11em !important;
}

fieldset#sf_fieldset_users .show-row .content
{ 
  padding-left: 20px !important;
}

fieldset#sf_fieldset_users .show-row label
{ 
  display: none;
}

fieldset#sf_fieldset_users .show-row ul
{ 
  list-style: none;
}

fieldset#sf_fieldset_users .show-row th,
fieldset#sf_fieldset_users .show-row td
{ 
  text-align: center !important;
}
