# symfony ignore

*.bak

cache/*
log/*
web/uploads/*
config/propel.ini
data/sql
Thumbs.db
.DS_Store
/.idea/

/vendor/
repos
.filemap


mailer.yml
.gitignore.orig
phpinfo.php
dbg-wizard.php
*.log
tests/_output/*
coverage.xml
spec/coverage
.env.*

tests/_support/_generated
dump.sql
testing.html

cachev
web/build
node_modules
public
backend.*.css
backend.*.js
frontend.*.css
frontend.*.js
backend.*.map
frontend.*.map
resources/assets/js/dist/backend.js
resources/assets/js/dist/frontend.js
web/js/backend.js
web/js/frontend.js
resources/assets/css/backend/app.css
resources/assets/css/backend/app.css.map
resources/assets/css/frontend/app.css
resources/assets/css/frontend/app.css.map
web/css/rtl.css.map
web/css/backend-rtl.css
web/css/rtl.css
web/css/backend.css
web/css/frontend.css
mix-manifest.json
!/.env.travis
