# symfony ignore

*.bak
.project
lib/ZendFramework/*

cache/*
log/*
web/uploads/*
config/databases.yml
config/propel.ini
config/Copy of properties.ini
data/sql
/phpinfo.txt
/projectFilesBackup/
Thumbs.db
.DS_Store
/.idea/
