div#sf_admin_container.sf_admin_list div#sf_admin_content,
div#sf_admin_container.sf_admin_list div#sf_admin_header
{
  width: 500px !important;
  margin-left: auto;
  margin-right: auto;
}

#sf_admin_container .form-row .content,
#sf_admin_container .show-row .content

{
  padding-left: 11em !important;
}

fieldset#sf_fieldset_properties .form-row .content,
fieldset#sf_fieldset_properties .show-row .content
{ 
  padding-left: 20px !important;
}

fieldset#sf_fieldset_properties .form-row label,
fieldset#sf_fieldset_properties .show-row label
{ 
  display: none !important;
}

fieldset#sf_fieldset_properties .form-row ul,
fieldset#sf_fieldset_properties .show-row ul
{
  list-style: none !important;
}
