DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=swregistry_test_empty
DB_TEST_DATABASE=swregistry_migration_test
# DB_TEST_DATABASE=swregistry_bak_api
DB_USERNAME=
DB_PASSWORD=

ADMIN_USER=
ADMIN_PASSWORD=
