
	#mainMenu{
    background-color: #f0f8ff;  /* Background color of main menu */
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;  /* Fonts of main menu items */
    font-size:12px;  /* Font size of main menu items */
    border-bottom:1px solid #000000;  /* Bottom border of main menu */
    height:24px;  /* Height of main menu */
    position:relative;  /* Don't change this position attribute */
    
  }
	#mainMenu a{
		padding-left:5px;	/* Spaces at the left of main menu items */
		padding-right:5px;	/* Spaces at the right of main menu items */
    padding:2px 5px 5px 5px;
    margin: 0px 5px;
		font-weight:bold;
		/* Don't change these two options */
		position:absolute;
		bottom:-1px;	/* Change this value to -2px if you're not using a strict doctype */
	}
	#submenu{    
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;  /* Font  of sub menu items */
    background-color:#E2EBED;  /* Background color of sub menu items */
    
    width:100%;  /* Don't change this option */
    
  }	
	#submenu div{
		white-space:nowrap;	/* Don't change this option */
    padding:4px 0px 5px 0px;
		
	}
	/*
	Style attributes of active menu item 
	*/
	#mainMenu .activeMenuItem{
		/* Border options */
		border-left:1px solid #000000;
		border-top:1px solid #000000;
		border-right:1px solid #000000;		
		background-color: #E2EBED;	/* Background color */
		
		cursor:default;	/* Cursor like a hand when the user moves the mouse over the menu item */
	}
	
	#mainMenu .activeMenuItem img{
		position:absolute;
		bottom:0px;
		right:0px;
	}
		
	/*
	Style attributes of inactive menu items
	*/
	#mainMenu .inactiveMenuItem{		
		color: #000;	/* Text color */
    padding: 5px 5px;
    margin: 0px 5px;
		cursor:pointer;	/* Cursor like a hand when the user moves the mouse over the menu item */
	}
	
	#submenu a{	
		text-decoration:none;	/* No underline on sub menu items - use text-decoration:underline; if you want the links to be underlined */
		padding-left:5px;	/* Space at the left of each sub menu item */
		padding-right:5px;	/* Space at the right of each sub menu item */
		color: #000;	/* Text color */
		font-size:12px; 
	}
	
	#submenu a:hover{
		color: #FF0000;	/* Red color when the user moves the mouse over sub menu items */
	}
	