ul#topnav {
	/*margin:0 0 4em;*/
  margin:0;
	padding: 0 0 0 0;
	list-style: none;
	border: none;
  display: block;
} 

ul#topnav.double {
  height: 4em;
}

ul#topnav.single {
  background-color: #FFFFF0 !important;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #DDDDDD;
  margin: 0 -1px;
  padding-top: 6px;
  display: block;
}

#topnav li {
	display: block;
	margin: 0;
	padding: 0;
	float:left;
}
	
#topnav a {
	display:block;
	color:#444;
	text-decoration:none;
	background: url(../images/lia.gif) no-repeat;
	margin:0;
	padding: 0.2em 2em 0.2em 36px;
	border-right: 1px solid #aaa;
	position: relative;
	font: bold 1.1em helvetica, arial, geneva, lucida, sans-serif;
  }
#topnav a#a0 { left: 0px;}
#topnav a#a1 { left: -30px;}
#topnav a#a2 { left: -60px;}
#topnav a#a3 { left: -90px;}
#topnav a#a4 { left: -120px;}
#topnav a#a5 { left: -150px;}
#topnav a#a6 { left: -180px;}
	
#topnav a:hover {
	background: url(../images/liahover.gif) no-repeat;
}

#topnav a.here {
	position:relative;
	z-index:102;
	background: url(../images/liahover.gif) no-repeat;
	border-right: 1px solid #777;
	padding: 0.2em 1em 0.2em 35px;
	margin: 0 4px 0 0;
}
	
ul#subnav {
	position:absolute;
	z-index:101;
	margin: -1px 0 0 -12px;
	left: 10px;
	padding: 2px 0px 3px 2px;
	background: #bbb;
	border-top:1px solid #fff;
	border-bottom:1px solid #999;
	width: 100%;
}
	
#subnav li {
	position:relative;
	z-index:102;
	display: block;
	margin: 0;
	padding: 0;
	float:left;
}
	
#subnav a {
	color:#fff;
	display:block;
	text-decoration:none;
	margin:0;
	padding: 2px 12px 2px 10px;
	background: transparent;
	background-image: none;
	border: 0 none;
}
	
#subnav a:hover {
	color:#444;
	background: transparent;
	background-image: none;
	border: 0 none;
}

#subnav a.here {
	color:#444;
	background: transparent;
	background-image: none;
	border: 0 none;
	margin:0;
	padding: 2px 12px 2px 10px;
}

#sf_admin_container div#sf_admin_header
{
  position: relative !important;
  /*height: 48px !important;*/
}
