#sf_admin_container ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin: 0; padding: 0; }
#sf_admin_container a img,:link img,:visited img { border: none; }

#sf_admin_container a:link,
#sf_admin_container a:visited
{
  text-decoration: none;
}

#sf_admin_container a:hover
{
  text-decoration: underline;
}

body,
#sf_admin_container td
{
  margin: 0;
  padding: 20px;
  /*  font-family: Arial, sans-serif;
    font-size: 11px;*/
  background-color: #fff;
}

#sf_admin_container p
{
  margin-bottom: 5px;
}

#sf_admin_container #sf_admin_bar
{
  float:right;
  margin: 0px 0px 0px 0px;
  bottom: 0px;
  right: 0px;
  width: 340px;
  right:0px;
}

#sf_admin_container #sf_admin_bar div.form-row,
#sf_admin_container #sf_admin_bar div.content,
#sf_admin_container #sf_admin_bar div.form-row label
{
  background-color:#F6F2F6;
}


#sf_admin_container #sf_admin_content
{
  padding: 5px;
  border-top:1px solid #DDDDDD;
}

#sf_admin_container h1
{
  margin: 0px;
  padding: 3px;
  color: #555;
  font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
  font-size: 16px;
}

#sf_admin_container fieldset h2
{
  padding: 3px;
  color: #333;
  background-color: #ffe6cc;
  font-size: 11px;
}

#sf_admin_container fieldset input,
#sf_admin_container fieldset textarea,
#sf_admin_container fieldset select
{
  padding: 4px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  border: 1px solid #ddd;
  vertical-align:middle;
}

#sf_admin_container fieldset input,
#sf_admin_container fieldset textarea
{
  width: 99%
}

#sf_admin_container fieldset textarea
{
  height: 8em;
}

#sf_admin_container label
{
  display: block;
  padding: 0px 1em 3px 0;
  float: left;
  text-align: left;
  width: 8em;
  color: #666;
  font-weight: normal !important;
  white-space: nowrap;
}

#sf_admin_container label.required
{
  color: #333 !important;
  font-weight: bold !important;
}

#sf_admin_container .save-ok
{
  margin-bottom: 10px;
  border: 1px solid #73B65A;
}

#sf_admin_container .save-ok h2
{
  margin: 0 !important;
  padding: 5px 20px 5px 25px;
  font-size: 11px;
  color: #fff;
  background: #73B65A url(/jpAdminPlugin/images/ok.png) no-repeat 5px 2px;
}

#sf_admin_container .form-row,
#sf_admin_container .show-row
{
  clear: both;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  background-color: #fffff0;
}

#sf_admin_container .form-row .content,
#sf_admin_container .show-row .content
{
  padding-left: 11em;
}

#sf_admin_container .form-errors
{
  margin-bottom: 10px;
  border: 1px solid #f33;
  background-color: #ffc;
}

#sf_admin_container .form-errors h2
{
  padding: 5px 20px 5px 25px;
  font-size: 11px;
  color: #fff;
  background: #f33 url(/jpAdminPlugin/images/error.png) no-repeat 5px 2px;
}

#sf_admin_container .form-errors ul
{
  padding: 5px;
  list-style-type: none;
}

#sf_admin_container .form-errors li
{
  padding: 5px 20px;
  background: url(/jpAdminPlugin/images/error.png) no-repeat 0 2px;
}

#sf_admin_container .form-error
{
  color: #f33;
}

#sf_admin_container .form-error input,
#sf_admin_container .form-error select,
#sf_admin_container .form-error textarea
{
  border: 1px solid #f33;
}

#sf_admin_container fieldset
{
  margin-bottom: 5px;
  border: 1px solid silver;
  border-bottom: 0px;
  background-color: #fff;
}

#sf_admin_container fieldset.collapsed *
{
  display:none;
}

#sf_admin_container fieldset.collapsed h2,
#sf_admin_container fieldset.collapsed
{
  display:block !important;
}

#sf_admin_container fieldset.collapsed .collapse-toggle
{
  display: inline !important;
}

#sf_admin_container fieldset.collapse h2 a.collapse-toggle
{
  color:#ED1F23;
  letter-spacing: -1px;
}

#sf_admin_container fieldset.collapse h2 a.collapse-toggle:hover
{
  text-decoration:underline;
}

#sf_admin_container .float-left
{
  float: left;
}

#sf_admin_container .float-right
{
  float: right;
}

#sf_admin_container
{
  background-color: #ffc;
  border: 1px solid #DDDDDD;
}

#sf_admin_container div#sf_admin_header h2
{
  padding:5px;
  border-top: 1px solid silver;
}

#sf_admin_container ul.sf_admin_td_actions
{
  list-style-type: none;
}

#sf_admin_container ul.sf_admin_td_actions li
{
  list-style-type: none;
  display: inline;
}

#sf_admin_container ul.sf_admin_actions
{
  padding: 0px 5px 5px 0px;
  list-style-type: none;
  text-align: right;
}

#sf_admin_container ul.sf_admin_actions a
{
  color: #333;
}

#sf_admin_container ul.sf_admin_actions li
{
  list-style-type: none;
  display: inline;
}

#sf_admin_container ul.sf_admin_actions li.float-left
{
  float:left;
  margin-top:-25px;
}

#sf_admin_container ul.sf_admin_actions li.float-left-show
{
  float:left;
}

#sf_admin_container ul.sf_admin_actions input
{
  padding: 3px 3px 3px 20px;
  color: #333;
  font-size: 11px;
  font-family: Arial, sans-serif;
  border: 0px;
  border-right: 4px solid #999;
  background-color: #ffc;
  cursor: hand;
  cursor: pointer;
}

#sf_admin_container .sf_admin_action_publish
{
  background: url(/jpAdminPlugin/images/publish.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
  padding-left:20px !important;
}
#sf_admin_container .sf_admin_action_edit
{
  background: url(/jpAdminPlugin/images/edit.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
  padding-left:20px !important;
}
#sf_admin_container .sf_admin_action_create
{
  background: url(/jpAdminPlugin/images/add.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_action_save
{
  background: url(/jpAdminPlugin/images/save.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_action_save_and_add
{
  background: url(/jpAdminPlugin/images/save.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_action_delete
{
  background: url(/jpAdminPlugin/images/delete.png) no-repeat 3px 2px;
  border-right: 4px solid #E75C58 !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_action_cancel
{
  background: url(/jpAdminPlugin/images/cancel.png) no-repeat 3px 2px;
  border-right: 4px solid #E75C58 !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_action_filter
{
  background: url(/jpAdminPlugin/images/filter.png) no-repeat 3px 2px;
  border-right: 4px solid #66f !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_action_reset_filter
{
  background: url(/jpAdminPlugin/images/reset.png) no-repeat 3px 2px;
  border-right: 4px solid #E75C58 !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_action_list
{
  background: url(/jpAdminPlugin/images/list.png) no-repeat 3px 2px;
  border-right: 4px solid #66f !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_default_action
{
  background-color: #fc6 !important;
  font-weight: bold !important;
}

#sf_admin_container .sf_admin_list
{
  width: 100%;
  border: 1px solid #ddd;
  border-bottom: 0px;
  border-right: 0px;
  padding-bottom: 5px
}

#sf_admin_container .sf_admin_list th
{
  padding: 2px;
  background-color: #ccf;
  text-align: left;
  white-space:nowrap;
}

#sf_admin_container .sf_admin_list th a
{
  color: #333;
}

#sf_admin_container .sf_admin_list td
{
  padding: 3px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#sf_admin_container .sf_admin_filters li
{
  list-style-type: none;
}

#sf_admin_container .sf_admin_filters label
{
  background-color: white;
  margin-right: 0px;
  padding-right: 0px;
}

#sf_admin_container .sf_admin_filters .content
{
  background-color: white;
  margin-left: 0px;
  padding-left: 0px;
}

#sf_admin_container .sf_admin_row_0 td
{
  background-color: #eef7ff;
}

#sf_admin_container .sf_admin_row_1 td
{
  background-color: #eef;
}

#sf_admin_container .sf_admin_edit_help
{
  color: #aaa;
  padding-top:4px;
}

div #sf_admin_container
{
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
  margin-top:10px;
  background-color:white;
  /*  width:480px;*/
}

#sf_admin_container form#sf_admin_edit_form fieldset
{
  background-color: #fffff0;
}

#sf_admin_container form#sf_admin_edit_form ul
{
  background-color:white;
  padding-right:10px;
}

#sf_admin_container .mceEditor td
{
  padding: 0px;
}

#sf_admin_container div.sf_admin_icon_edit_help
{
  float:left;
  padding-right:4px;
}

select.sf_admin_multiple,
select.sf_admin_multiple-selected
{
  width: 12em;
}

ul.sf_admin_checklist li
{
  list-style: none;
  line-height: 1.5em;
}

