#sf_admin_container ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin: 0; padding: 0; }
#sf_admin_container a img,:link img,:visited img { border: none; }

#sf_admin_container a:link,
#sf_admin_container a:visited
{
  text-decoration: none;
}

#sf_admin_container a:hover
{
  text-decoration: underline;
}

body #sf_admin_container td
{
  margin: 0;
  padding: 20px;
  /*  font-family: Arial, sans-serif;
    font-size: 11px;*/
  background-color: #fff;
}

#sf_admin_container p
{
  margin-bottom: 5px;
}

#sf_admin_container #sf_admin_bar
{
  float:right;
  margin: 0 0 0 0;
  bottom: 0;
  padding: 10px;
  right:0;
}

#sf_admin_container #sf_admin_bar div.form-row,
#sf_admin_container #sf_admin_bar div.content,
#sf_admin_container #sf_admin_bar div.form-row label
{
  background-color:#F6F2F6;
}

#sf_admin_container .form-row .content span,
#sf_admin_container .show-row .content span {
  float: left;
}

#sf_admin_container #sf_admin_content {
  padding: 5px;
  /* border-top: 1px solid #DDDDDD; */
}

#sf_admin_container h1
{
  margin: 0;
  padding: 3px;
  color: #555;
  font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
  font-size: 16px;
}

#sf_admin_container fieldset h2
{
  padding: 3px;
  color: #333;
  background-color: #ffe6cc;
  font-size: 11px;
}

#sf_admin_container fieldset input,
#sf_admin_container fieldset textarea,
#sf_admin_container fieldset select
{
  padding: 4px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  border: 1px solid #ddd;
  vertical-align:middle;
}

#sf_admin_container fieldset textarea
{
  width: 99%
}

#sf_admin_container fieldset input[type="radio"]
{
  float: left;
  width: auto;
}
#sf_admin_container fieldset textarea
{
  height: 8em;
}

#sf_admin_container label
{
  display: block;
  padding: 0 1em 3px 0;
  float: left;
  text-align: left;
  width: 8em;
  color: #666;
  font-weight: normal !important;
  white-space: nowrap;
}

#sf_admin_container label.required
{
  color: #333 !important;
  font-weight: bold !important;
}

#sf_admin_container label.required:before {
  content: "*";
}

#sf_admin_container div#sf_admin_header div.save-ok {
  margin: 10px 10px 0 10px;
  border: 1px solid #73B65A;
}

#sf_admin_container div#sf_admin_header div.save-ok h2.message {
  padding: 5px 20px 5px 25px !important;
}

#sf_admin_container .save-ok
{
  margin-bottom: 10px;
  border: 1px solid #73B65A;
}

#sf_admin_container .save-ok h2
{
  margin: 0 !important;
  padding: 5px 20px 5px 25px !important;
  font-size: 11px;
  color: #fff;
  background: #73B65A url(/jpAdminPlugin/images/ok.png) no-repeat 5px 2px;
}

#sf_admin_container .save-error
{
  margin-bottom: 10px;
  border: 1px solid maroon;
}
#sf_admin_container .save-error h2
{
  margin: 0 !important;
  padding: 5px 20px 5px 25px;
  font-size: 11px;
  color: maroon;
  background: #F2DEDE url(jpAdminPlugin/images/bug_icon_24.png) no-repeat 5px 2px;
}
#sf_admin_container .form-row,
#sf_admin_container .show-row
{
  clear: both;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  background-color: #fffff0;
  overflow: hidden;
}

#sf_admin_container .form-row .content,
#sf_admin_container .show-row .content
{
  padding-left: 11em;
}

#sf_admin_container .form-errors
{
  margin-bottom: 10px;
  border: 1px solid #f33;
  background-color: #ffc;
}

#sf_admin_container .form-errors h2
{
  padding: 5px 20px 5px 25px;
  font-size: 11px;
  color: #fff;
  background: #f33 url(/jpAdminPlugin/images/error.png) no-repeat 5px 2px;
}

#sf_admin_container .form-errors ul
{
  padding: 5px;
  list-style-type: none;
}

#sf_admin_container .form-errors li
{
  padding: 5px 20px;
  background: url(/jpAdminPlugin/images/error.png) no-repeat 0 2px;
}

#sf_admin_container .form-error
{
  color: #f33;
}

#sf_admin_container .form-error input,
#sf_admin_container .form-error select,
#sf_admin_container .form-error textarea
{
  border: 1px solid #f33;
}

#sf_admin_container div.no-results {
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background-color: #ffc;
}

#sf_admin_container div.no-results h2 {
  padding: 5px 20px 5px 25px;
  font-size: 13px;
  color: #f33;
  background: #ffc url(/jpAdminPlugin/images/list.png) no-repeat 5px 4px ;
}

#sf_admin_container fieldset
{
  margin-bottom: 5px;
  border: 1px solid silver;
  border-bottom: 0;
  background-color: #fff;
  white-space: normal;
}

#sf_admin_container fieldset.collapsed *
{
  display:none;
}

#sf_admin_container fieldset.collapsed h2,
#sf_admin_container fieldset.collapsed
{
  display:block !important;
}

#sf_admin_container fieldset.collapsed .collapse-toggle
{
  display: inline !important;
}

#sf_admin_container fieldset.collapse h2 a.collapse-toggle
{
  color:#ED1F23;
  letter-spacing: -1px;
}

#sf_admin_container fieldset.collapse h2 a.collapse-toggle:hover
{
  text-decoration:underline;
}

#sf_admin_container .float-left
{
  float: left;
}

#sf_admin_container .float-right
{
  float: right;
}

#sf_admin_container
{
  background-color: #ffc;
  border: 1px solid #DDDDDD;
  overflow: auto;
}

#sf_admin_container div#sf_admin_header h1.form {
  float: left;
    background-color: white;
}
#sf_admin_container div#sf_admin_header h2
{
  padding:5px;
  border-top: 1px solid silver;
}

#sf_admin_container div#sf_admin_header div.required {
  text-align: right;
  background-color: white;
  padding-right: 1em;
  float: right;
  padding-top: 9px;
}

#sf_admin_container div#sf_admin_header {
  overflow: hidden;
  background-color: #ffc;
}

#sf_admin_container ul.sf_admin_td_actions
{
  list-style-type: none;
}

#sf_admin_container ul.sf_admin_td_actions li
{
  list-style-type: none;
  display: inline;
}

#sf_admin_container div.show {
  margin-top: -5px;
  margin-bottom: 10px;
}

#sf_admin_container ul.sf_admin_actions
{
  padding-top: 10px;
  list-style-type: none;
  text-align: right;
}

#sf_admin_container ul.sf_admin_actions a
{
  color: #333;
}

#sf_admin_container ul.sf_admin_actions li
{
  list-style-type: none;
  display: inline;
}

#sf_admin_container ul.sf_admin_actions li.float-left
{
  float:left;
  margin-top:-25px;
}

#sf_admin_container ul.sf_admin_actions li.float-left-show
{
  float:left;
}

#sf_admin_container ul.sf_admin_actions input,
#sf_admin_container ul.sf_admin_actions button,
#sf_admin_container ul.sf_admin_actions a
{
padding: 4px 4px 4px 20px;
  color: #333;
  font-size: 11px;
  font-family: Arial, sans-serif;
  border: 1px solid lightgray;
  border-right: 4px solid #999;
  background-color: #ffc;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 3px;
}

#sf_admin_container .sf_admin_action_publish
{
  background: url(/jpAdminPlugin/images/publish.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
  padding-left:20px !important;
}
#sf_admin_container .sf_admin_action_edit
{
  background: url(/jpAdminPlugin/images/edit.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
  padding-left:20px !important;
}
#sf_admin_container .sf_admin_action_create
{
  background: url(/jpAdminPlugin/images/add.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_action_save
{
  background: url(/jpAdminPlugin/images/save.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_action_save_and_add
{
  background: url(/jpAdminPlugin/images/save.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_action_delete
{
  background: url(/jpAdminPlugin/images/delete.png) no-repeat 3px 2px;
  border-right: 4px solid #E75C58 !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_action_cancel
{
  background: url(/jpAdminPlugin/images/cancel.png) no-repeat 3px 2px;
  border-right: 4px solid #E75C58 !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_action_filter
{
  background: url(/jpAdminPlugin/images/filter.png) no-repeat 3px 2px;
  border-right: 4px solid #66f !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_action_reset_filter
{
  background: url(/jpAdminPlugin/images/reset.png) no-repeat 3px 2px;
  border-right: 4px solid #E75C58 !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_action_list
{
  background: url(/jpAdminPlugin/images/list.png) no-repeat 3px 2px;
  border-right: 4px solid #66f !important;
  padding-left:20px !important;
}

#sf_admin_container .sf_admin_default_action
{
  background-color: #fc6 !important;
  font-weight: bold !important;
}

#sf_admin_container .sf_admin_list
{
  /*width: 100%;*/
  border: 1px solid #ddd;
  border-bottom: 0;
  border-right: 0;
  padding-bottom: .8rem
}

#sf_admin_container .sf_admin_list th
{
  padding: .25rem 1rem;
  background-color: #ccf;
  text-align: left;
  white-space:nowrap;
}

#sf_admin_container .sf_admin_list th a
{
  color: #333;
}

#sf_admin_container .sf_admin_list td
{
  padding: .25rem 1rem;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#sf_admin_container .sf_admin_list td.date {
  white-space: nowrap;
  text-align: left;
}

#sf_admin_container .sf_admin_filters li
{
  list-style-type: none;
}

#sf_admin_container .sf_admin_filters label
{
  background-color: white;
  margin-right: 0;
  padding-right: .25em;
  width: inherit;
  display: initial;
  float: none;
}

#sf_admin_container .sf_admin_filters .content
{
  background-color: white;
  margin-left: 0;
  padding-left: 0;
}

#sf_admin_container .sf_admin_row_0 td
{
  background-color: #eef7ff;
}

#sf_admin_container .sf_admin_row_1 td
{
  background-color: #eef;
}

#sf_admin_container .sf_admin_edit_help
{
  color: #aaa;
  padding-top:4px;
}

div #sf_admin_container
{
  margin: 10px auto;
  background-color:white;
  -webkit-box-shadow: 5px 6px 7px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 6px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 6px 7px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#sf_admin_container form#sf_admin_edit_form fieldset
{
  background-color: #fffff0;
}

#sf_admin_container form#sf_admin_edit_form ul {
  background-color: white;
  padding-right: 10px;
}

#sf_admin_container form#sf_admin_edit_form
{
  margin: -5px 0 0 0;
}

#sf_admin_container div.form-header {
  background-color: white;
  overflow: auto;
  margin: 0px 5px;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  padding-bottom: 5px;
  padding-top: 5px;
}

#sf_admin_container .mceEditor td
{
  padding: 0;
}

#sf_admin_container div.sf_admin_icon_edit_help
{
  float:left;
  padding-right:4px;
}

select.sf_admin_multiple,
select.sf_admin_multiple-selected
{
  width: 12em;
}

ul.sf_admin_checklist li
{
  list-style: none;
  line-height: 1.5em;
}

table.sf_admin_list td{
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

 table.sf_admin_list td:hover{
  overflow: visible;
}

#sf_fieldset_login .form-row span {
  float: left;
  /*! padding-right: 1em; */
  /*! margin-right: 1em; */
}
