Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On

  # we skip selenium
  RewriteCond %{REQUEST_URI} /selenium/.+$
  RewriteRule .* - [L]

  # we skip all files with .something
  RewriteCond %{REQUEST_URI} \..+$
  RewriteCond %{REQUEST_URI} !\.html$
  RewriteCond %{REQUEST_URI} !\.rdf$
  RewriteCond %{REQUEST_URI} !\.xsd$
  RewriteRule .* - [L]

  # check for the sandbox
  RewriteCond %{HTTP_HOST} ^sandbox.registry.*
  RewriteRule ^(.*)$ frontend_sand.php [QSA,L]

  # we check if the .html version is here (caching)
  RewriteRule ^$ index.html [QSA]
  RewriteRule ^([^.]+)$ $1.html [QSA]
  RewriteCond %{REQUEST_FILENAME} !-f

  # no, so we redirect to our front web controller
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# big crash from our front web controller
ErrorDocument 500 "<h2>Application error</h2>symfony application failed to start properly"
